<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <!-- <h3 class="masthead-brand">732 OG</h3> -->
      <img class="masthead-brand img-responsive" width="100" src="assets/images/732-logo.png">
  
     <!--Navbar-->
        <nav class="navbar mb-4">

          <!-- Navbar brand -->
          <a class="navbar-brand"></a>

          <!-- Collapse button -->
          <button class="navbar-toggler second-button" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation" onclick="myFunction()">
            <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
          </button>

          <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="navbarContent">

            <!-- Links -->
            <ul class="navbar-nav mr-auto" style="float: right;text-align: left;">
              <li class="nav-item active">
                <a class="nav-link" href="#" routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Forum</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/motherhood-tutorial">Tutorial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/motherhood-home/:squadron/settings">Settings</a>
              </li>
            </ul>
            <!-- Links -->

          </div>
          <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
    </div>
    <script>
      $(document).ready(function () {

        $('.first-button').on('click', function () {

          $('.animated-icon1').toggleClass('open');
        });
        $('.second-button').on('click', function () {

          $('.animated-icon2').toggleClass('open');
        });
        });
        function myFunction() {
          var x = document.getElementById("navbarContent");
          if (x.style.display === "block") {
            x.style.display = "none";
            
          } else {
            x.style.display = "block";
          }
        }
    </script>
    
  </header>

  <main role="main" class="inner cover">
    <div class="content-wrapper">
    <h1 class="cover-heading">Motherhood</h1>
      <div class="aors align-items-center pl-5">
        
          <div class="container align-items-center">
          <div class="row pb-4 align-items-center">
            <a href="#"  class="btn btn-lg btn-secondary btn-danger aor1-btn" routerLink="/motherhood-template"
            routerl >Squadron 1</a>
          <a href="#" class="btn btn-lg btn-secondary aor2-btn" routerLink="/motherhood-template">Squadron 2</a>
          <a href="#" class="btn btn-lg btn-secondary aor3-btn" routerLink="/motherhood-template">Squadron 3</a>
          </div>
          <div class="row">
          <a href="#" class="btn btn-lg btn-secondary aor4-btn" routerLink="/motherhood-template">Squadron 4</a>
          <a href="#" class="btn btn-lg btn-secondary aor5-btn" routerLink="/motherhood-template">Squadron 5</a>
          <a href="#" class="btn btn-lg btn-secondary aor6-btn" routerLink="/motherhood-template">Squadron 6</a>
          </div>
          </div>
       
          

        
      </div>
  </div>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Version Alpha 1.0</p>
    </div>
  </footer>
</div>

</body>
