<form [formGroup]="adminTokenSettingsForm" (ngSubmit)="onSubmit()"> 
    <h5>Current Admin Tokens</h5>
  
    <div class="mx-auto" style="width: 70px;" *ngIf="isLoading; else elseBlock">
      <mat-spinner diameter="50" mode="indeterminate"></mat-spinner>
    </div>
    <ng-template #elseBlock>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null; autoFillFormAfterRowSelection(selection.isSelected(row))"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
          <td mat-footer-cell *matFooterCellDef><button type="button" class="btn btn-danger" [disabled]="!selection.hasValue() || !editingPermissionsEnabled" (dblclick)="onDelete()">Delete</button></td>
        </ng-container>
      
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let adminToken"> {{adminToken.id}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <!-- Code Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let adminToken"> {{adminToken.code}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <!-- Access Level Column -->
        <ng-container matColumnDef="access_level">
            <th mat-header-cell *matHeaderCellDef> Access Level </th>
            <td mat-cell *matCellDef="let adminToken"> {{adminToken.access_level}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Squadron ID Column -->
        <ng-container matColumnDef="squadron_id">
            <th mat-header-cell *matHeaderCellDef> Squadron </th>
            <td mat-cell *matCellDef="let adminToken"> {{adminToken.squadron_id | uppercase}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Is Active Column -->
        <ng-container matColumnDef="is_active">
            <th mat-header-cell *matHeaderCellDef> Is Active? </th>
            <td mat-cell *matCellDef="let adminToken"> {{adminToken.is_active | yesNo}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row); autoFillFormAfterRowSelection(selection.isSelected(row))">
        </tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>

    </ng-template>
  

    <div class="form-group mt-4">
      <label>ID Number</label>
      <input class="form-control" formControlName="adminTokenID" type="text" (blur)="updateAdminTokenFormAfterIDSelected()" placeholder="Provide only if updating a record.">
    </div>

    <div class="form-group mt-4">
      <label>Code*</label>
      <input [class.is-invalid]="adminTokenCode.invalid && adminTokenCode.touched && !adminTokenCode.errors?.forbiddenCode" class="form-control" formControlName="adminTokenCode" type="text" required>
      <small *ngIf="adminTokenCode.invalid && adminTokenCode.touched && !adminTokenCode.errors?.forbiddenCode" class="text-danger">Code is required.</small>
      <small *ngIf="adminTokenCode.errors?.forbiddenCode" class="text-info">Only unique codes can be added.</small>
    </div>

    <div class="form-group mt-4">
        <label>Access Level*</label>
        <input [class.is-invalid]="adminTokenAccessLevel.invalid && adminTokenAccessLevel.touched" class="form-control" formControlName="adminTokenAccessLevel" type="text" readonly required>
        <small *ngIf="adminTokenAccessLevel.invalid && adminTokenAccessLevel.touched" class="text-danger">Access Level is required.</small>
    </div>

    <div class="form-group mt-4">
        <label>Squadron*</label>
        <input [class.is-invalid]="adminTokenSquadronID.invalid && adminTokenSquadronID.touched" class="form-control" formControlName="adminTokenSquadronID" type="text" readonly required>
        <small *ngIf="adminTokenSquadronID.invalid && adminTokenSquadronID.touched" class="text-danger">Squadron is required.</small>
      </div>

    <div class="form-check mt-4">
      <input class="form-check-input" type="checkbox" value="" formControlName="adminTokenIsActive">
      <label class="form-check-label" for="defaultCheck1">
        Active
      </label>
    </div>

    <div class="form-group mt-4">
      <button type="button" class="btn btn-secondary" [disabled]="adminTokenSettingsForm.invalid && adminTokenID.errors?.invalidID || !adminTokenID.value || !editingPermissionsEnabled" (click)="onUpdate()">Update</button>
      <button type="button" class="btn btn-primary ml-2" [disabled]="adminTokenSettingsForm.invalid || !editingPermissionsEnabled" type="submit">Add</button>
    </div>

    <small class="text-info">* indicates a required field.</small>

    <!--{{adminTokens | json}}-->
  </form>