<form [formGroup]="squadronSettingsForm" (ngSubmit)="onSubmit()"> 
    <h5>Current Squadrons</h5>
  
    <div class="mx-auto" style="width: 70px;" *ngIf="isLoading; else elseBlock">
      <mat-spinner diameter="50" mode="indeterminate"></mat-spinner>
    </div>
    <ng-template #elseBlock>
      <mat-selection-list #squadronList [multiple]="false" (selectionChange)="squadronSelectedFromList(squadronList.selectedOptions.selected[0].value)">
        <mat-list-option *ngFor="let squadron of squadrons" [value]="squadron.name">
          {{squadron.name}}
          <mat-divider></mat-divider>
        </mat-list-option>
      </mat-selection-list>
    </ng-template>
  
  
    <div class="form-group mt-4">
      <label>Squadron Name</label>
      <input [class.is-invalid]="squadronName.invalid && squadronName.touched && !squadronName.errors?.forbiddenName" class="form-control" formControlName="squadronName" type="text" required [autoFocus]="true">
      <small *ngIf="squadronName.invalid && squadronName.touched && !squadronName.errors?.forbiddenName" class="text-danger">Squadron name is required.</small>
      <small *ngIf="squadronName.errors?.forbiddenName" class="text-info">Only unique names can be added.</small>
    </div>
  
    <button type="button" class="btn btn-primary mr-3" [disabled]="squadronSettingsForm.invalid || !editingPermissionsEnabled" type="submit">Add</button>
    <button type="button" class="btn btn-danger" (dblclick)="onDelete()" [disabled]="!editingPermissionsEnabled">Delete</button>
  </form>