table {
  width: 100%;
  background-color: rgb(46, 46, 46);
  color: white;
}
.mat-cell {
  color: white;
}
.mat-header-cell{
  color: white;
}
body{
  color:white
}

th.mat-sort-header-sorted {
  color: white;
}