<div class="container-fluid schedule">
<div class="row mb-3">
    <div class="col-md-12 schedule"><h2 class="mt-1">Scheduler</h2>
      <hr class="my-4">
          
          <br>
          <div class="row" style="border:solid 5px red">
            <div class="col-md-1 btn">IRON</div>
            
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn">John Smith</div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn">John Wick</div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn">Pablo Escobar</div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn"> Callsign<br><input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></div>
          </div>
          <br>
          <div class="row" style="border:solid 5px lightskyblue">
            <div class="col-md-1 btn">STONE</div>
            <div class="col-md-1 btn">John Wayne</div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn">Conor McGregor</div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn">Joe Rogan</div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn"> Callsign<br><input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"><br></div>
          </div>
          <br>
          <div class="row" style="border:solid 5px orange">
            <div class="col-md-1 btn">COPPER</div>
            <div class="col-md-1 btn">Wayne Gretzky</div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn">Brian Leech</div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn">Mark Messier</div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn"></div>
            <div class="col-md-1 btn"> Callsign<br><input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"><br></div>
          </div>
          <br>
          <br>
          <br>
          </div>
          

<app-data-table></app-data-table>
</div>
