<div class="container justify-content-center">
    <div class="text-center">
        <h1>Motherhood Sitemap</h1>
        <a routerLink="/motherhood" class="pr-3"> <button type="button" class="btn btn-warning">Paetz Motherhood</button></a>
        <a routerLink="/motherhood-home" class="pr-3"> <button type="button" class="btn btn-primary">Ebneth Motherhood Home</button></a>
        <a routerLink="/motherhood-template" class="pr-3"> <button type="button" class="btn btn-sucess">Ebneth Motherhood</button></a>
      </div>
</div>